:root {
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  --DarkGrayishRed: hsl(0, 6%, 24%);
  --Linear1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --Linear2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

main .flex {
  display: flex;
  column-gap: 6rem;
  max-height: 100vh;
  overflow: hidden;
  background: url(images/bg-pattern-desktop.svg) no-repeat;
  background-size: calc(55vw);
}

.flex .text {
  width: calc(55vw - 6rem);
  padding-left: 10%;
  padding-top: 4%;

}

main .text h2 {
  margin-right: auto;
  margin-top: min(8rem, 10vh);
  margin-bottom: 20px;
  width: 11ch;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--DarkGrayishRed);
  letter-spacing: 20px;
  font-size: min(10vw, 64px)
}

main .text h2 span {
  font-weight: 200;
  color: var(--DesaturatedRed);
}

main .text p {
  color: var(--DesaturatedRed);
  line-height: 1.6;
  width: 43ch;
  width: clamp(10px, 43ch, 40vw);
  margin-bottom: 2.25rem;
}

main .text input {
  font-size: 1rem;
  width: clamp(100px, 43ch, 40vw);
  padding: 1rem;
  border-radius: 100vmax;
  border: 1px solid var(--DesaturatedRed);
  outline: none;
  font-family: 'Josefin Sans';
  background-color: transparent;
}

main .text .label {
  position: relative;
  display: inline;
}

main .text button {
  position: absolute;
  transform: translateY(-50%);
  height: 52px;
  right: 1px;
  top: 50%;
  width: max(21%, 70px);
  border-radius: 100vmax;
  border: none;
  background-image: var(--Linear2);
  cursor: pointer;
}

main .text button::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background-color: white;
  transform-origin: 100%;
}

main .text button::before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  transform-origin: 100%;
  background-color: white;
}

.text input::placeholder {
  color: var(--DesaturatedRed);
  opacity: 1;
  /* Firefox */
}

.text input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--DesaturatedRed);
}

.text input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--DesaturatedRed);
}

.flex .hero-img img {
  width: 45vw;
  height: 100vh;
  display: block;
}

.hidden-xs {
  display: flex !important;
}

.visible-xs {
  display: none !important;
}

.grid {
  display: grid;
}

.grid .hero-img img {
  width: 100%;
  display: block;
}

.grid h1 {
  padding-top: 1rem;
  padding-bottom: .25rem;
}

.grid .text {
  text-align: center;
  background-image: var(--Linear1);
}

.grid .text p {
  margin: auto;
  width: auto
}

.grid .text input {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: clamp(240px, 43ch, 70vw);
}

.container {
  width: 80vw;
  margin: auto
}

@media (max-width:900px) {
  div.hidden-xs {
    display: none !important;
  }

  .visible-xs {
    display: grid !important;
  }

  main .text h2 {
    margin-left: auto;
  }
}
